:root {
  --highlight: #1e90ff;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  height: 100vh;
}

@media (min-width: 1024px) {
  body {
   background-attachment: fixed;
  }
}

a {
  color: var(--highlight);
  text-decoration: none;
}

#head {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

#head * {
  transition: ease-in-out 0.3s;
}

#head h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#head h1 a,
#head h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}

#head h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
}

#head h2 span {
  color: #fff;
  border-bottom: 2px solid var(--highlight);
  padding-bottom: 6px;
}

#head h3 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}

#head h4 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

#head h4 span {
  color: #fff;
  border-bottom: 2px solid var(--highlight);
  padding-bottom: 6px;
}

#head .social {
  margin-top: 40px;
  display: flex;
}

#head .social a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#head .social a:hover {
  background: #1758fc;
}

@media (max-width: 992px) {
  body::before {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.2);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }

  #head h1 {
    font-size: 36px;
  }

  #head h2 {
    font-size: 20px;
    line-height: 30px;
  }

  #head h3 {
    font-size: 12px;
    line-height: 22px;
  }

  #head h4 {
    font-size: 10px;
    line-height: 20px;
  }

  #head .social {
    margin-top: 15px;
  }

  #head .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
